# azure || aws || openai
TTS_PROVIDER=
MAX_CHUNK_SIZE=1000
SLOW_DOWN_RATE=

OPENAI_SPEACH_SECRET=
OPENAI_SPEACH_VOICE=
OPENAI_SPEACH_MODEL='tts-1'

# azure credentials
AZURE_SPEACH_SECRET=
AZURE_SPEACH_REGION=
AZURE_SPEACH_VOICE=
AZURE_SPEACH_LANGUAGE=

# aws credentials
AWS_SPEACH_KEY=
AWS_SPEACH_SECRET=
AWS_SPEACH_REGION=
AWS_SPEACH_VOICE=
AWS_SPEACH_LANGUAGE=